{% extends "layout.html" %}
{% block content %}

<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#D5DBDB;">
<br>
<form action="/agrega_candidato" method="post">
<h2>Agregar Candidato</h2>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="curp">CURP</label>
        <input type="text" class="form-control" name="curp" id="curp" placeholder="CURP">
        </div>
        <div class="form-group col-md-9">
            <label for="nombre">AP. Paterno    Ap.Materno    Nombre(s)</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="AP. Paterno    Ap.Materno    Nombre(s)">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" name="domicilio" id="domicilio" placeholder="Calle y No. - Colonia - Cod. Postal">
        </div>
        <div class="form-group col-md-4">
            <label for="rfc">RFC</label>
            <input type="text" class="form-control" name="rfc" id="rfc" placeholder="0101010101">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="telefono">Telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="999-999-9999" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
            <label for="correoe">Correo Electronico</label>
            <input type="email" class="form-control" name="correoe" id="correoe" placeholder="correo@gmail.com">
        </div>

        <div class="form-group col-md-1">
            <label for="edad">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" placeholder="Edad">
        </div>
        <div class="form-group col-md-1">
            <label for="nss">N.S.S</label>
            <input type="text" class="form-control" name="nss" id="nss" placeholder="N.S.S">
        </div>
        <div class="form-group col-md-2">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" class="form-control">
                <option value="0">Choose...</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="edociv">E. Civil</label>
            <select name="edociv" id="edociv" class="form-control">
                <option value="0" selected>Choose...</option>
                {% for estado in ecivil %}
                    <option value="{{ estado.0 }}">{{ estado.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background:lightseagreen">Agrega Candidato</button>

</form>
</body>
{% endblock %}