{% extends "layout.html" %}
{% block content %}

<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#D5DBDB;">
<br>
<form action="/modifica_candidato/{{candidatos.0[0]}}" method="post">
<h2>Editar Candidato</h2>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="curp">CURP</label>
        <input type="text" class="form-control" name="curp" id="curp" value="{{candidatos.0[0]}}">
        </div>
        <div class="form-group col-md-9">
            <label for="nombre">AP. Paterno    Ap.Materno    Nombre(s)</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{candidatos.0[1]}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" name="domicilio" id="domicilio" value="{{candidatos.0[2]}}">
        </div>
        <div class="form-group col-md-4">
            <label for="rfc">RFC</label>
            <input type="text" class="form-control" name="rfc" id="rfc" value="{{candidatos.0[8]}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="telefono">Telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" value="{{candidatos.0[3]}}">
        </div>
        <div class="form-group col-md-3">
            <label for="correoe">Correo Electronico</label>
            <input type="email" class="form-control" name="correoe" id="correoe" value="{{candidatos.0[4]}}">
        </div>

        <div class="form-group col-md-1">
            <label for="edad">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" value="{{candidatos.0[6]}}">
        </div>
        <div class="form-group col-md-1">
            <label for="nss">N.S.S</label>
            <input type="text" class="form-control" name="nss" id="nss" value="{{candidatos.0[7]}}">
        </div>
        <div class="form-group col-md-2">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" class="form-control">
                {% if candidatos.0[5]== "M" %}
                  <option value="M">Masculino</option>
                {% else %}
                   <option value="F">Femenino</option>
                {% endif %}
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="edociv">E. Civil</label>
            <select name="edociv" id="edociv" class="form-control">
                {% if candidatos.0[9]==1 %}
                  <option value="1">Soltero/a</option>
                {% else %}
                  <option value="2">Casado/a</option>
                {% endif %}
                <option value="1">Soltero/a</option>
                <option value="2">Casado/a</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background:lightseagreen">Enviar Cambios</button>
    <a href="/candidato" class="btn btn-success" style="background:lightseagreen;">Candidato</a></center>
</form>
<br>

<!-- -----------------------------------------------------------------  -->
<br>
<br>
<center><h3>Habilidades asociadas</h3></center>
<div class="panel panel-primary">
    <div class="panel-heading">
        <form class="form-inline" action="/agrega_hab_can" method="post">
            <div class="form-row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="hidden" name="can" id="can" value="{{candidatos.0[0]}}">
                <label for="habil">Habilidad </label>&nbsp;&nbsp;&nbsp;
                <select name="habil" id="habil" class="form-control">
                             <option value="0" selected>Choose...</option>
                                 {%
                                     for hab in habs
                                 %}
                                     <option value="{{ hab.0 }}">{{ hab.1 }}</option>
                                {%   endfor %}
                             </select>&nbsp;&nbsp;&nbsp;
                             <label for="expe">Experiencia</label>&nbsp;&nbsp;&nbsp;
                             <input type="text" class="form-control" name="expe" id="expe" placeholder="tiempo de experiencia">&nbsp;&nbsp;&nbsp;
                         </div>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" style="background:lightseagreen">Agrega habilidad</button>
                    </form>
                  </div>
                  <br>
                  <div class="panel-body">
                        <center>
                        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                          <thead>
                            <tr>
                                <td color="white" bgcolor="006666"><font color="white">Habilidad</font></td>
                                <td color="white" bgcolor="006666"><font color="white">Experiencia</font></td>
                              <td color="white" bgcolor="006666"></td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_hab in can_habs %}
                              <tr>
                                <td>
                                  {{ can_hab.2 }}
                                </td>
                                <td>
                                  {{ can_hab.5 }}
                                </td>
                                <td  bgcolor="#9C9C9C" width="60">
                                  <center><a href="/bo_hab_can/{{can_hab.0}}/{{ can_hab.4 }}" class="btn btn-success"
                                             style="background:lightseagreen;">Borrar</a></center>
                                </td>

                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>

<!-- -----------------------------------------------------------------  -->
            <br>
            <center><h3>Requerimientos de Idioma</h3></center>

             <div class="panel panel-primary">
                  <div class="panel-heading" >
                    <form class="form-inline" action="/agrega_idio_can" method="post">
                        <div class="form-row">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="cani" id="cani" value="{{candidatos.0[0]}}" >
                            <label for="idio">Idioma</label> &nbsp;&nbsp;&nbsp;
                            <select name="idio" id="idio" class="form-control">
                                <option value="0" selected>Choose...</option>
                                {% for idioma in idiomas %}
                                <option value="{{ idioma.0 }}">{{ idioma.1 }}</option>
                                {%   endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <label for="nive">Nivel</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="nive" id="nive" placeholder="Nivel en el idioma">&nbsp;&nbsp;&nbsp;
                        </div>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" style="background:lightseagreen">Agrega Idioma</button>
                    </form>
                  </div>
                  <br>
                  <div class="panel-body">
                        <center>
                        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                          <thead>
                            <tr>
                                <td color="white" bgcolor="006666"><font color="white">Idioma</font></td>
                                <td color="white" bgcolor="006666"><font color="white">Nivel</font></td>
                              <td color="white" bgcolor="006666"></td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_idi in can_idis %}
                              <tr>
                                <td>
                                  {{ can_idi.2 }}
                                </td>
                                <td>
                                  {{ can_idi.5 }}
                                </td>
                                <td  bgcolor="#9C9C9C" width="60">
                                  <center><a href="/bo_idi_can/{{ can_idi.0 }}/{{ can_idi.4 }}" class="btn btn-success" style="background:lightseagreen;">Borrar</a></center>
                                </td>

                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>
<br>
            <center><h3>Requerimientos de Nivel Academico</h3></center>

             <div class="panel panel-primary">
                  <div class="panel-heading" >
                    <form class="form-inline" action="/agrega_aca_can" method="post">
                        <div class="form-row">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="cana" id="cana" value="{{candidatos.0[0]}}" >
                            <label for="nivel">Nivel Academico</label> &nbsp;&nbsp;&nbsp;
                            <select name="nivel" id="nivel" class="form-control">
                                <option value="0" selected>Choose...</option>
                                {% for nivel_academico in nivel_academico %}
                                <option value="{{ nivel_academico.0 }}">{{ nivel_academico.1 }}</option>
                                {%   endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <label for="carrera">Carrera</label> &nbsp;&nbsp;&nbsp;
                            <select name="carrera" id="carrera" class="form-control">
                                <option value="0" selected>Choose...</option>
                                {% for carr in carrera_can %}
                                     <option value="{{ carr.0 }}">{{ carr.1 }}</option>
                                {%   endfor %}
                            </select>
                            <label for="nive">Institucion</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="insti" id="insti" placeholder="Institucion">&nbsp;&nbsp;&nbsp;
                        </div>
                        <br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="submit" class="btn btn-primary" style="background:lightseagreen">Agrega Nivel Academico</button>
                    </form>
                  </div>
                  <br>
                  <div class="panel-body">
                        <center>
                        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                          <thead>
                            <tr>
                                <td color="white" bgcolor="006666"><font color="white">Nivel Academico</font></td>
                                <td color="white" bgcolor="006666"><font color="white">Carrera</font></td>
                                <td color="white" bgcolor="006666"><font color="white">Institucion</font></td>
                              <td color="white" bgcolor="006666"></td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_aca in can_acas %}
                              <tr>
                                <td>
                                  {{ can_aca.2 }}
                                </td>
                                <td>
                                  {{ can_aca.4 }}
                                </td>
                                  <td>
                                  {{ can_aca.8 }}
                                </td>
                                <td  bgcolor="#9C9C9C" width="60">
                                  <center><a href="/bo_aca_can/{{ can_aca.0 }}/{{ can_aca.1 }}" class="btn btn-success" style="background:lightseagreen;">Borrar</a></center>
                                </td>

                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>

</body>
{% endblock %}