{% extends "layout.html" %}
{% block content %}

<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#D5DBDB;">
<form action="/agrega_puesto" method="post">
<h2>Agregar Puesto</h2>
    <div class="form-row">
        <label for="descripcion">Descripción del puesto</label>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="descripcion" id="descripcion">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="salario">Salario Anual</label>
            <input type="text" class="form-control" name="salario" id="salario">
        </div>
        <div class="form-group col-md-8">
            <label for="beneficios">Beneficios</label>
            <input type="text" class="form-control" name="beneficios" id="beneficios">
        </div>
        <div class="form-group col-md-2">
            <label for="bonos">Bonos</label>
            <input type="text" class="form-control" name="bonos" id="bonos">
        </div>
    </div>

    <div class="form-row">
        <label>Requiera autorización</label>&nbsp;
        <div class="form-check rorm-check-inline">
            <input class="form-check-input" type="radio" name="autorizar" id="autorizar1" value="0" checked >
            <label class="form-check-label" for="autorizar1">Si</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-check rorm-check-inline">
            <input class="form-check-input" type="radio" name="autorizar" id="autorizar2" value="1">
            <label class="form-check-label" for="autorizar2">No</label>
        </div>
    </div>
<br>

    <button type="submit" class="btn btn-primary" style="background:lightseagreen">Agregar</button>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</form>
</body>
{% endblock %}